@import './vars.css';
@import './fonts/fonts.css';
@import './parts/side.css';
@import './parts/content.css';
@import './parts/drawers.css';

#root, body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--app-background);
    font-family: 'Helvetica Neue', 'LiberationSans-Regular', Helvetica, sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    width: 1396px;
    display: flex;
    height: calc(100% - 38px);
}

a {
    text-decoration: none;
}

/* 
 *
 *  SHARED
 *
 */

.common__spacer {
    flex-grow: 1;
}
.common__cursor-pointer {
    cursor: pointer;
}

.common_input {
    height: 33px;
    border: none;
    border-radius: 18px;
    color: var(--compose-primary);
    background-color: var(--search-input-background);
}

.common_input:focus {
    outline: none;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.16);
}

::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1);
}

::-webkit-scrollbar {
    width: 6px;
}