@import './vars.css';
@import './fonts/fonts.css';

#root, body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--app-background);
    font-family: 'Helvetica Neue', 'LiberationSans-Regular', Helvetica, sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    width: 1396px;
    display: flex;
    height: calc(100% - 38px);
    background-color: burlywood;
}


.app__side {
    flex: 30%;
    display: flex;
    flex-direction: column;
    background-color: red;
}
.app__side__header, .app__side__search {
    display: flex;
    height: 59px;
}
.app__side__header {
    background-color: aliceblue;
}
.app__side__search {
    background-color: aquamarine;
}
.app__side__list {
    flex-grow: 1;
    background-color: blueviolet;
}


.app__content {
    flex: 70%;
    display: flex;
    background-color: var(--intro-background);
}

.app__content__startup {
    width: 80%;
    margin: auto;
    max-width: 460px;
    text-align: center;
}

.app__content__startup__image {
    width: 356px;
    height: 355px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
}

.app__content__divider {
    height: 1px;
    margin: 2rem 0;
    background-color: var(--border-stronger);
}

.app__intro__title {
    font-size: 36px;
    font-weight: 300;
    color: var(--primary-title);
}
.app__intro__subtitle {
    font-size: 14px;
    line-height: 20px;
    color: var(--intro-secondary);
}